html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

:root {
  --white-color: #fefefe;
  --main-color: #1abc9c;
  --grey-color: #555252;
  --for-product: #515151;
  --for-strings: #fffcfc;
  --for-links: #ffffff;
  --backgroung-white: #e9f0fd;
  --for-price: #7fd9c7;
  --for-readmore: #4ec6ab;

  --main-font: 'Roboto', sans-serif;
  --second-font: 'Open Sans', sans-serif;
}

/* clear */

.clear {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Container */

.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* header-top */

.contact-info .number {
  margin: 0;
  padding: 0;
}

.contact-info .mail-adress {
  margin: 0;
  padding: 0;
}

.header-top .contact-info {
  display: flex;
  align-items: center;
}

.header-top .phone-number,
.mail-adress {
  color: var(--white-color);
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 11px;
}

.header-top .phone-number {
  padding-left: 268px;
  padding-right: 33px;
  position: relative;
}

.header-top .mail-adress {
  padding-left: 33px;
}

.header-top .login-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 245px;
}

.header-top .header-top-menu {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  height: 50px;
}

.header-top .link {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 11px;
}

.header-top .phone-number::before {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url(../img/icons/icon-phone.png);
  width: 17px;
  height: 19px;
  left: 246px;
}

.header-top .mail-adress::before {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url(../img/icons/mail.png);
  width: 22px;
  height: 14px;
  left: 397px;
  top: 19px;
}

/* Header */

.site-header .container {
  display: flex;
}

header .logo-site {
  margin: 0;
  padding-top: 35px;
  color: var(--grey-color);
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  padding-left: 245px;
}

.site-header .logo-site:first-letter {
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
}

header .header-nav-list {
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
}

header .link {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: #0f0101;
}

header .link:hover,
header .link:focus {
  color: var(--main-color);
}

.product {
  color: var(--for-product);
  font-family: var(--main-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}

.header-nav {
  margin: 0;
  padding: 0;
  padding-top: 41px;
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-left: auto;
  padding-right: 246px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

/* banner */

.banner .banner-content {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/banner.jpg);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .first-string {
  color: var(--for-strings);
  font-family: var(--main-font);
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.banner .second-string {
  color: var(--for-strings);
  font-family: var(--second-font);
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.banner .and {
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 700;
}

.banner .sale {
  color: var(--main-color);
  font-family: var(--second-font);
  font-weight: 600;
}

.banner .buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--for-links);
  width: 120px;
  height: 42px;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
}

/* about */

.about .container {
  background-color: var(--for-links);
}

.about .about-items {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 246px;
  margin-right: 251px;
  padding-top: 96px;
  padding-bottom: 81px;
}

.about .item1,
.item2,
.item3,
.item4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: relative;
  width: 249px;
  height: 273px;
  margin-right: 34px;
}

.about .item4 {
  margin-right: 0;
}

.header-top .container {
  position: relative;
}

.about .item1::before {
  content: '';
  background-image: url(../img/icons/setting.png);
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .item2::before {
  content: '';
  background-image: url(../img/icons/power.png);
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .item3::before {
  content: '';
  background-image: url(../img/icons/world.png);
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .item4::before {
  content: '';
  background-image: url(../img/icons/compass.png);
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .item-header {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--grey-color);
  font-family: var(--second-font);
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about .item-descr {
  margin: 0;
  padding: 0;
  text-align: justify;
  color: var(--grey-color);
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

/* new collection */

.new-collection .container {
  background-color: var(--backgroung-white);
}

.new-collection .section-title {
  text-align: center;
  color: var(--for-product);
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 100px;
  margin-bottom: 122px;
}

.new-collection .container {
  position: relative;
}

.new-collection .section-title::after {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url(../img/lines/green-lines.png);
  width: 164px;
  height: 15px;
  color: var(--main-color);
  left: 717px;
  top: 166px;
}

.new-collection .item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 96px;
}

.new-collection .item {
  margin-right: 30px;
  width: 255px;
  height: 322px;
  background-color: var(--for-links);
}

.new-collection .item-descr,
.price-item {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.new-collection .item-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.new-collection .item-descr {
  width: 255px;
  height: 40px;
  background-color: #323232;
  color: var(--for-links);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  position: absolute;
  padding-left: 14px;
}

.new-collection .price-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  background-color: #8c8c8c;
  width: 55px;
  height: 40px;
  position: absolute;
  right: 0;
  color: var(--for-links);
}

.new-collection .item-link .overlay::before {
  display: none;
  content: '';
  position: absolute;
  width: 234px;
  height: 266px;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.new-collection .item-link .overlay:hover::before {
  display: flex;
}

.item-link:hover .item-descr {
  background-color: var(--main-color);
}
.item-link:hover .price-item {
  background-color: var(--for-price);
}

.new-collection .about-items {
  margin: 0;
  padding: 0;
  
}

.item1 {
  padding-bottom: 81px;
}

/* gallery */

.product-header {
  text-align: center;
  color: var(--for-product);
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 131px;
  margin-top: 0;
  padding-top: 104px;
}

.product .container {
  position: relative;
}

.product .product-header::after {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url(../img/lines/green-lines.png);
  width: 164px;
  height: 15px;
  color: var(--main-color);
  left: 716px;
  top: 170px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 244px;
  padding-bottom: 100px;
}

.gallery-list {
  display: flex;
  width: 255px;
  background-color: var(--backgroung-white);
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-list:nth-child(4n) {
  margin-right: 0px;
}

.gallery-list:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.gallery-link {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  width: 255px;
  height: 320px;
  position: relative;
}

.gallery-img {
  width: 200px;
}

.product .gallery-link::after {
  display: none;
  position: absolute;
  content: '';
  width: 234px;
  height: 266px;
  top: 6px;
  left: 11px;
  background-color: rgba(0, 0, 0, 0.5);
}

.product .gallery-link:hover::after {
  display: inline-block;
}

.gallery-descr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  background-color: #323232;
  width: 200px;
  height: 40px;
  position: relative;
  color: var(--for-links);
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  background-color: #8c8c8c;
  width: 55px;
  height: 40px;
  position: relative;
  color: var(--for-links);
}

.gallery-img {
  width: 255px;
  position: absolute;
}

.gallery-link:hover .gallery-descr {
  background-color: var(--main-color);
}
.gallery-link:hover .price {
  background-color: var(--for-price);
}

/* News */

.news-header {
  color: var(--grey-color);
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 0;
}

.news .container {
  position: relative;
  background-color: var(--backgroung-white);
}

.news .news-header::after {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url(../img/lines/green-lines.png);
  width: 164px;
  height: 15px;
  color: var(--main-color);
  left: 710px;
  top: 166px;
}

.news-list {
  display: flex;
  padding-top: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 81px;
  padding-left: 243px;
  padding-right: 246px;
}

.header-news {
  color: var(--grey-color);
  font-family: var(--second-font);
  font-size: 18px;
  line-height: 26px;
  padding-top: 14px;
  margin: 0;
  margin-bottom: 43px;
}

.descr-news {
  color: var(--grey-color);
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
}

.read-more {
  width: 159px;
  height: 51px;
  background-color: var(--for-readmore);
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
}

.news .read-more-link {
  text-decoration: none;
  color: var(--for-links);
}

.news-item {
  margin-right: 30px;
}

.news-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.news .read-more-link:hover {
  color: var(--main-color);
}

.item-for-header {
  padding-top: 105px;
}

.read-more-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--for-readmore);
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
  width: 159px;
  height: 51px;
  text-align: center;
}

/* newslatter */

.section-newslatter .newslatter {
  margin: 0;
  padding: 0;
  background-image: url(../img/newslatter-background/background-newslatter1.png),
    url(../img/newslatter-background/background-nwslatter2.jpg);
  position: relative;
}

.newslatter .newsletter-header {
  margin: 0;
  padding: 0;
  color: var(--for-product);
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  padding-top: 102px;
  margin-left: 653px;
}

.newslatter .newsletter-header:after {
  content: '';
  display: inline-block;
  background-image: url(../img/lines/newslatter-whiteline.png);
  position: absolute;
  width: 164px;
  height: 15px;
  left: 714px;
  top: 166px;
}

.section-newslatter .follow::after {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url(../img/icons/newslatter-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 89px;
  height: 56px;
  border-radius: 0 5px 5px 0;
  background-color: var(--for-readmore);
  top: 276px;
  left: 977px;
}

.newslatter .follow {
  margin: 0;
  padding: 0;
  margin-top: 72px;
  padding-left: 654px;
  color: var(--for-links);
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.newslatter .input-area {
  width: 540px;
  height: 61px;
  border-radius: 5px;
  background-color: var(--for-links);
  margin-top: 44px;
  margin-left: 528px;
  color: var(--grey-color);
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  resize: none;
  margin-bottom: 135px;
  text-align: justify;
}
