html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* clear */

.clear {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Container */

.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* header-top */

.contact-info .number {
  margin: 0;
  padding: 0;
}

.contact-info .mail-adress {
  margin: 0;
  padding: 0;
}

.header-top .contact-info {
  display: flex;
  align-items: center;
}

.header-top .phone-number,
.mail-adress {
  color: #fefefe;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  line-height: 11px;
}

.header-top .phone-number {
  padding-left: 246px;
  padding-right: 16px;
}

.header-top .mail-adress {
  padding-left: 16px;
}

.header-top .login-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 245px;
}

.header-top .header-top-menu {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #1abc9c;
  height: 50px;
}

.header-top .link {
  text-decoration: none;
  color: #fefefe;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  line-height: 11px;
}

.header-top .phone-number::before {
  content: '';
  display: inline-block;
  background-image: url(/img/icons/icon-phone.png);
  width: 11px;
  height: 19px;
}

.header-top .mail-adress::before {
  content: '';
  display: inline-block;
  background-image: url(/img/icons/icon-phone.png);
}

/* Header */

.site-header .container {
  display: flex;
}

header .logo-site {
  margin: 0;
  padding-top: 35px;
  color: #555252;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  padding-left: 245px;
}

.site-header .logo-site:first-letter {
  color: #1abc9c;
  font-family: 'Roboto - Black';
  font-weight: 400;
}

header .header-nav-list {
  color: #0f0101;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
}

header .link {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: #0f0101;
}

header .link:hover,
header .link:focus {
  color: #1abc9c;
}

.product {
  color: #515151;
  font-family: 'Roboto - Black';
  font-size: 48px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}

.header-nav {
  margin: 0;
  padding: 0;
  padding-top: 41px;
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-left: auto;
  padding-right: 246px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

/* banner */

.banner .banner-content {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/img/banner.jpg);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .first-string {
  color: #fffcfc;
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.banner .second-string {
  color: #fffcfc;
  font-family: 'Open Sans';
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.banner .and {
  color: #1abc9c;
  font-family: Roboto;
  font-weight: 700;
}

.banner .sale {
  color: #1abc9c;
  font-family: 'Open Sans - Semibold';
  font-weight: 600;
}

.banner .buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  width: 120px;
  height: 42px;
  border: 2px solid #1abc9c;
  background-color: #1abc9c;
}

/* about */

.about .container {
  background-color: #ffffff;
}

.about .about-items {
  display: flex;
  margin-left: 246px;
  margin-right: 251px;
  padding-top: 96px;
}

.about .item1,
.item2,
.item3,
.item4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: relative;
  width: 249px;
  height: 273px;
  margin-right: 34px;
}

.about .item4 {
  margin-right: 0;
}

.about .item1::before {
  content: '';
  background-image: url(/img/icons/setting.png);
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  color: #1abc9c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .item2::before {
  content: '';
  background-image: url(/img/icons/power.png);
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  color: #1abc9c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .item3::before {
  content: '';
  background-image: url(/img/icons/world.png);
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  color: #1abc9c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .item4::before {
  content: '';
  background-image: url(/img/icons/compass.png);
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  color: #1abc9c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.about .item-header {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #555252;
  font-family: 'Open Sans - Semi Bold';
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about .item-descr {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #555252;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

/* new collection */

.new-collection .container {
  background-color: #e9f0fd;
}

.new-collection .section-title {
  text-align: center;
  color: #515151;
  font-family: 'Roboto';
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 100px;
}

.new-collection .section-title::after {
  content: '';
  background-image: url(/img/lines/green-lines.png);
  width: 164px;
  height: 15px;
  color: #1abc9c;
}

.new-collection .item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 96px;
}

.new-collection .item {
  margin-right: 30px;
  width: 255px;
  height: 322px;
  background-color: #ffffff;
}

.new-collection .item-descr,
.price-item {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.new-collection .item-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.new-collection .item-descr {
  width: 255px;
  height: 40px;
  background-color: #323232;
  color: #ffffff;
  font-family: 'Roboto - Black';
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  position: absolute;
}

.new-collection .price-item {
  width: 54px;
  height: 40px;
  background-color: #ffffff;
  opacity: 0.44;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
}

.new-collection .item-img {
}

/* gallery */

.product-header {
  text-align: center;
  color: #515151;
  font-family: 'Roboto';
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 131px;
  margin-top: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-list {
  display: flex;
  width: 255px;
  background-color: #e9f0fd;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-list:nth-child(4n) {
  margin-right: 0px;
}

.gallery-list:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.gallery-link {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  width: 255px;
  height: 320px;
}

.gallery-img {
  width: 200px;
}

.gallery-descr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  background-color: #323232;
  width: 200px;
  height: 40px;
  position: relative;
  color: #ffffff;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto - Black';
  font-weight: 400;
  font-size: 18px;
  background-color: #8c8c8c;
  width: 55px;
  height: 40px;
  position: relative;
  color: #ffffff;
}

.gallery-img {
  width: 255px;
  position: absolute;
}

.gallery-link:hover .gallery-descr {
  background-color: #1abc9c;
}
.gallery-link:hover .price {
  background-color: #7fd9c7;
}

/* News */

.news-header {
  color: #555252;
  font-family: 'Roboto';
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 0;
}

.news-list {
  display: flex;
  padding-top: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 81px;
}

.header-news {
  color: #555252;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 26px;
  padding-top: 14px;
  margin: 0;
  margin-bottom: 43px;
}

.descr-news {
  color: #555252;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
}

.read-more {
  width: 159px;
  height: 51px;
  background-color: #4ec6ab;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
}

.news .read-more-link {
  text-decoration: none;
  color: #ffffff;
}

.news-item {
  margin-right: 30px;
}

.news-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.news .read-more-link:hover {
  color: #1abc9c;
}

.item-for-header {
  padding-top: 105px;
}

.read-more-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ec6ab;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
  width: 159px;
  height: 51px;
  text-align: center;
}
